logs
project/project
project/target
project/.sbtserver*
public/javascripts/webpack
tasks.txt
node_modules
/.sbtserver
target
tmp
.history
dist
/.idea/*
!/.idea/runConfigurations
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
