body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13.20px;
}

input, textarea {
    outline: 0 none
}

#side-bar {
    width: 200px;
    height: 100%;
    background-color: #e9eaed;
    border-right: 1px solid #e6e6e6;
    position: absolute;
}

#side-bar #header {
    font-family: 'Arial black';
    padding: 10px 20px;
    font-size: 14pt;
    font-weight: bold;
    color: #333333;
}

#topic-bar {
    padding: 20px 0;
    width: 350px;
    height: 100%;
    position: absolute;
    left: 200px;
    top: 0;
    background-color: #f5f5f5;
}

#message-bar {
    height: 100%;
    position: absolute;
    left: 550px;
    top: 0;
}

#group-pane {
    padding: 10px 0;
}

#group-pane li {
    list-style: none;
    cursor: pointer;
    padding: 3px 20px 3px;
}

#group-pane li .group-header {

}

#group-pane li.selected {
    background-color: #cbe9f7;
}

#group-pane #all-groups {
    margin-bottom: 6px;
}

#topic-pane {
    padding: 0;
    overflow: scroll;
}

#group-pane, #message-roll {
    overflow: scroll;
}

#topic-pane li {
    list-style: none;
    cursor: pointer;
    padding: 5px 20px 5px;
}

#topic-pane li.selected {
    background-color: #cbe9f7;
}

#topic-pane li .info, #message-pane li .info {
    color: #8c8c8c;
}

#topic-pane li .info, #message-pane li .info {
    font-size: 12px;
}

#topic-pane li .info .author, #topic-pane li .info .group,
#message-pane li .info .author, #message-pane li .info .group{
    font-weight: 500;
}

#message-pane li .details {
    margin-left: 30pt;
}

#message-pane li .details .text {
    padding: 4px 0;
    line-height: 145%;
}

#message-pane li {
    margin-bottom: 15px;
}

#message-pane li.same-user {
    margin-top: -12px;
}

#new-topic-pane {
    padding: 5px 0;
}

#new-topic {
    cursor: pointer;
    padding: 10px 20px;
}

#new-topic {
    color: #9c9c9c;
    cursor: default;
    width: 100%;
    display: block;
}

a:hover {
    text-decoration: none;
}

#new-topic.enabled, #group-pane #new-group {
    color: #0077cc;
    cursor: pointer;
}

#group-pane #new-group {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 20px 15px;
    font-size: 12px;
}

#new-topic #plus {
    background-image: url('/assets/images/plus-gray.png');
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
}

#new-topic.enabled #plus {
    background-image: url('/assets/images/plus-blue.png');
}

#new-topic.selected #plus, {
    background-image: url('/assets/images/plus-gray.png');
}

#new-topic.selected {
    color: black;
    cursor: default;
    background-color: #cbe9f7;
}

input.search-query {
    padding-left: 20px;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    width: 300px;
    background-color: transparent;
}

#search-pane {
    position: relative;
    display: inline-block;
    margin: 0 20px;
}

#search-pane:before {
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    position: absolute;
    top: 2px;
    left: 0;
    opacity: .5;
    z-index: 1000;
}

#message-pane {
    padding: 15px 12px 15px 25px;
    overflow: scroll;
}

#message-pane .avatar {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

#message-pane li.topic .avatar {
    width: 24pt;
    height: 24pt;
    margin-left: 0;
}

#message-pane li.topic .text {
    font-size: 14px;
}

#message-bar {
    max-width: 700px;
    min-width: 350px;
}

#message-bar #input {
    height: 50px;
    margin: 0 15px 10px 50px;
    display: inline-block;
    border: 1px solid #0077cc;
    position: absolute;
    bottom: 10px;
    width: 621px;
}

.new-group-popover .group-name {
    padding: 2px;
    margin-top: 7px;
    width: 245px;
    border: 1px solid #509bd6;
}

.new-group-popover .group-label {
    padding: 5px 0;
    font-size: 12px;
    color: #bbb;
    width: 245px;
}

#message-pane li {
    list-style: none;
}

.new-group-popover {
    width: 270px;
    font-size: 13px;
}

.new-group-popover .btn {
    width: 245px;
    color: #0077cc;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-color: #eee;
}

.new-group-popover .btn:hover {
    background-color: #f9f9f9;
    border-color: #eee;
}

#message-roll-header {
    background-color: white;
    position: fixed;
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
}

#message-roll {
    position: absolute;
    bottom: 70px;
    /*width: 100%;*/
}

#message-pane li .info .user {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

#message-pane .emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

#message-pane .preview {
    max-height: 128px;
}

/* Chrome only */
::-webkit-scrollbar {
    display: none;
}