<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="LFS" class="com.moonlit.logfaces.appenders.logback.FixedLogfacesAppender">
    <remoteHost>${lfs.servers}</remoteHost>
    <port>55200</port>
    <locationInfo>true</locationInfo>
    <application>${lfs.app-name}</application>
    <reconnectionDelay>1000</reconnectionDelay>
    <offerTimeout>0</offerTimeout>
    <queueSize>200</queueSize>
    <appender-ref ref="STDOUT" />
    <delegateMarker>true</delegateMarker>
  </appender>

  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <logger name="scala.slick" level="SQL" />
  <logger name="play.api.db.slick" level="DEBUG" />

  <!--<logger name="slick.jdbc" level="DEBUG" />-->

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LFS" />
  </root>

</configuration>
