<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="SYSLOG-TLS" class="com.papertrailapp.logback.Syslog4jAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%-5level %logger{35}: %m%n%xEx</pattern>
    </layout>

    <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
      &lt;!&ndash; remote system to log to &ndash;&gt;
      <host>logs3.papertrailapp.com</host>
      &lt;!&ndash; remote port to log to &ndash;&gt;
      <port>16132</port>
      &lt;!&ndash; program name to log as &ndash;&gt;
      <ident>java-app</ident>
      &lt;!&ndash; max log message length in bytes &ndash;&gt;
      <maxMessageLength>128000</maxMessageLength>
    </syslogConfig>
  </appender>

  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />

  <logger name="scala.slick" level="SQL" />
  <logger name="play.api.db.slick" level="DEBUG" />

  <!--<logger name="slick.jdbc" level="DEBUG" />-->

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="SYSLOG-TLS" />
  </root>

</configuration>
