@import play.api.libs.json.JsValue

@(user: User, users: JsValue, groups: JsValue, webSocketUrl: String)

@head = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")"/>

    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("react-with-addons.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("JSXTransformer.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery-dateFormat.min.js"))"></script>

    <script src="@routes.Assets.at("javascripts/emojify.min.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/utils.js")"></script>
    <script type="text/jsx" src="@routes.Assets.at("javascripts/index.js")"></script>
    <script>
        var global = {
            user: {
                id: @{user.id},
                name: "@{user.name}",
                avatar: "@{user.avatar}"
            },
            webSocketUrl: "@Html(webSocketUrl)",
            users: @{Html(users.toString)},
            groups: @{Html(groups.toString)}
        }
    </script>
}

@main("JetChat", head) {
    <div id="app"></div>
}
