@import play.api.libs.json.JsValue

@(user: User, integrations: JsValue, users: JsValue, groups: JsValue, integrationGroups: JsValue, webSocketUrl: String,
        selectedGroupId: Option[Long], selectedTopic: Option[JsValue], selectedUserId: Option[Long],
        selectedIntegrationId: Option[String], selectedIntegrationGroupId: Option[String],
        displaySettings: Option[Boolean])

@head = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")"/>

    <script>
        var _global = {
            user: {
                id: @{user.id},
                name: "@{user.name}",
                avatar: "@{user.avatar}"
            },
            webSocketUrl: "@Html(webSocketUrl)",
            integrations: @{Html(integrations.toString)},
            displaySettings: @{displaySettings match {
				case Some(value) => Html("true")
				case None => Html("undefined")
			}},
            users: @{Html(users.toString)},
            groups: @{Html(groups.toString)},
            integrationGroups: @{Html(integrationGroups.toString)},
            selectedGroupId: @{selectedGroupId match {
				case Some(id) => id
				case None => Html("undefined")
			}},
			selectedTopic: @{selectedTopic match {
				case Some(value) => Html(value.toString())
				case None => Html("undefined")
			}},
			selectedUserId: @{selectedUserId match {
				case Some(id) => id
				case None => Html("undefined")
			}},
            selectedIntegrationId: @{selectedIntegrationId match {
				case Some(id) => Html("\"" + id + "\"")
				case None => Html("undefined")
			}},
            selectedIntegrationGroupId: @{selectedIntegrationGroupId match {
				case Some(id) => Html("\"" + id + "\"")
				case None => Html("undefined")
			}}

        }
    </script>
    <script src="@routes.Assets.at("javascripts/webpack/main.js")"></script>
}

@main("JetChat", head) {
    <div id="app"></div>
}
