@(title: String, head: Html = Html(""))(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.cookie.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        @head
    </head>
    <body>
        @body

        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/utils.js")"></script>
    </body>
</html>
